@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding: 50px;">
    <h1 class="display-4">Welcome to the Quiz App!</h1>
    <p class="lead">Challenge yourself with exciting quizzes and improve your knowledge.</p>

    <a href="/Participant/Test/Index" class="btn btn-lg btn-primary">Take Quiz</a>
    <a href="/about" class="btn btn-lg btn-secondary">Learn More</a>

    <div class="mt-5">
        <h3>User Testimonials</h3>
        <blockquote>"This quiz app helped me ace my exams! The questions are fun and challenging!" - User A</blockquote>
    </div>

    <div class="mt-5">
        <h3>Quote of the Day</h3>
        <blockquote>"Learning is never cumulative, it is a movement of knowing which has no beginning and no end." - Bruce Lee</blockquote>
    </div>
</div>

@* <style>
  
    blockquote {
        font-style: italic;
        border-left: 5px solid white;
        padding-left: 15px;
    }

    .btn {
        margin: 10px;
    }
</style> *@
