    @model Question

@{
    ViewData["Title"] = "Create Question";
}

<h2>Delete Question</h2>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="QuestionId" hidden class="control-label">QuestionId</label>
        <input type="hidden" asp-for="QuestionId"  />
    </div>

    <div class="form-group">
        <label asp-for="QuestionText" class="control-label">Question Text</label>
        <textarea asp-for="QuestionText" disabled  class="form-control"></textarea>
       
    </div>

    <div class="form-group">
        <label asp-for="OptionA" class="control-label">Option A</label>
        <input asp-for="OptionA" disabled class="form-control" />
       
    </div>

    <div class="form-group">
        <label asp-for="OptionB" class="control-label">Option B</label>
        <input asp-for="OptionB" disabled class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="OptionC" class="control-label">Option C</label>
        <input asp-for="OptionC"  disabled class="form-control" />
        <span asp-validation-for="OptionC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OptionD" class="control-label">Option D</label>
        <input asp-for="OptionD" disabled class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="CorrectOption" class="control-label">Correct Option</label>
        <input asp-for="CorrectOption" disabled class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="TimeLimitInSeconds" class="control-label">Time Limit (in seconds)</label>
        <input asp-for="TimeLimitInSeconds" disabled class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="Difficulty" class="control-label">Difficulty</label>
        <input asp-for="Difficulty" disabled  class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label">Created By (User Id)</label>
        <input asp-for="CreatedBy" disabled class="form-control" />
        
    </div>


    <div class="d-flex justify-content-start mt-3">
        <button type="submit" class="btn btn-primary me-2">Delete Question</button>
        <a asp-controller="Quiz" asp-action="Index" class="btn btn-outline-secondary">Back To List</a>
    </div>
</form>
