    @model Question

@{
    ViewData["Title"] = "Create Question";
}

<h2>Edit Question</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <input hidden asp-for="QuizId"  />

    </div>
    <div class="form-group">
        <input type="hidden" asp-for="QuestionId"  />
    </div>

    <div class="form-group">
        <label asp-for="QuestionText" class="control-label">Question Text</label>
        <textarea asp-for="QuestionText" class="form-control"></textarea>
        <span asp-validation-for="QuestionText" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OptionA" class="control-label">Option A</label>
        <input asp-for="OptionA" class="form-control" />
        <span asp-validation-for="OptionA" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OptionB" class="control-label">Option B</label>
        <input asp-for="OptionB" class="form-control" />
        <span asp-validation-for="OptionB" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OptionC" class="control-label">Option C</label>
        <input asp-for="OptionC" class="form-control" />
        <span asp-validation-for="OptionC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OptionD" class="control-label">Option D</label>
        <input asp-for="OptionD" class="form-control" />
        <span asp-validation-for="OptionD" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CorrectOption" class="control-label">Correct Option</label>
        <input asp-for="CorrectOption" class="form-control" />
        <span asp-validation-for="CorrectOption" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TimeLimitInSeconds" class="control-label">Time Limit (in seconds)</label>
        <input asp-for="TimeLimitInSeconds" class="form-control" />
        <span asp-validation-for="TimeLimitInSeconds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Difficulty" class="control-label">Difficulty</label>
        <input asp-for="Difficulty" class="form-control" />
        <span asp-validation-for="Difficulty" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label">Created By (User Id)</label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>

    

    <div class="d-flex justify-content-start mt-3">
        <button type="submit" class="btn btn-primary me-2">Edit Question</button>
        <a asp-controller="Question" asp-action="Index" asp-route-Id="@ViewBag.QuizId" class="btn btn-outline-secondary">Back To List</a>
    </div>

</form>
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons',  'link', 'lists',   'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Oct 27, 2024:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
        <partial name="_validationScriptsPartial" />
    }

}
